*, ::after, ::before {
    box-sizing: border-box;
}

:root {
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
} 

html {
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

h1 {
    font-size: 2.5rem;
}
h1, h2 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}


p {
    margin-top: 0;
    margin-bottom: 1rem;
}

nav, div {
    display: block;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.nav-exp-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.nav-container {
    max-width: none;
}

.nav-exp-lg > .container, .nav-exp-lg > .container-fluid {
    flex-wrap: nowrap;
}


.navbar > .container, .navbar > .container-fluid {
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.bg-light {
    background-color: #f8f9fa !important;
}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.ml-0, .margin-01 {
    margin-left: 0 !important;
}
.mr-0, .margin-01 {
    margin-right: 0 !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.width-100 {
    width: 100% !important;
}

.col, .col-1, .col-10, .col-11, .cl-12, .cl-01, .cl-02, .cl-03, .cl-04, .col-6, .col-7, .cl-05, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .cl-md-01, .cl-md-02, .col-md-4, .col-md-5, .col-md-6, .cl-md-03, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .cl-sm-01, .col-sm-6, .cl-sm-02, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}



[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-01 {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

[type="button"], [type="reset"], [type="submit"], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}

.frm-group {
    margin-bottom: 1rem;
}

.cl-frm-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}


label {
    display: inline-block;
    margin-bottom: .5rem;
}

.frm-ctrl::placeholder {
    color: #6c757d;
    opacity: 1;
}

.frm-ctrl:disabled, .frm-ctrl[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.frm-ctrl {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
}

.mb-1 {
	margin-bottom: .25rem !important;
}


.margin-02 {
    margin-bottom: 1rem !important;
}

.text-center {
    text-align: center !important;
}

.btn-group-lg > .btn, .btn-lg {
	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .3rem;
}

.btn-02 {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.hide {
	display: none !important;
}

@media sceen and (max-width: 540px) {
    .container {
        max-width: 540px;}
    }

    @media sceen and (max-width: 720px) {
.container {
    max-width: 720px;}
}

@media screen and (max-width: 960px) {
.container {
    max-width: 960px;}
}

@media screen and (max-width: 1140) {
.container {
    max-width: 1140px;}
}


@media (max-width: 1140){
.cl-01 {
	
	display: flex;
	max-width: 16%;}
}

@media (max-width: 1140){
.cl-02 {    
    flex: 0 0 25%;
    max-width: 25%;}
}

@media (max-width: 1140){
.cl-03 {
    flex: 0 0 33%;
    max-width: 33%;}
}

@media (max-width: 1140){
.cl-04 {
    
    flex: 0 0 41%;
    max-width: 41%;}
}

@media (max-width: 1140){
.cl-05 {
	flex: 0 0 66%;
	max-width: 66%;}
}

@media (max-width: 1140){
.cl-12 {
    flex: 0 0 100%;
    max-width: 100%;}
}

.cl-md-01 {
    flex: 0 0 16%;
    max-width: 16%;
}

.cl-md-02 {
    flex: 0 0 25%;
    max-width: 25%;
}

.cl-md-03 {
    flex: 0 0 58%;
    max-width: 58%;
}

@media (min-width: 576px) {
.cl-sm-2 {
	flex: 0 0 16%;
	max-width: 16%;}
}

@media (min-width: 576px) {
    .cl-sm-01 {
    
    display: flex;
    max-width: 41%;}
}

@media (min-width: 576px) {
    .cl-sm-02 {
    
    display: flex;
    max-width: 58%;}
}